@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;700&display=swap')

$font-size-lg: 1.25rem
$font-weight-lg: 700
$font-size-sm: .8rem
$font-weight-sm: 200
$dark-blue: #48556a
$light-blue: #9daec2
$white: #ffffff

*
    box-sizing: border-box
    padding: 0
    margin: 0
.card
    display: flex
    width: 100%

.content
    display: flex
    flex-direction: column




